@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    position: relative !important;
    font-family: 'Roboto', sans-serif !important;
    padding-bottom: 150px;
    min-height: 100vh;
}

.img-home {
    width: 50px !important;
}

.mas-valorados img {
    width: 190px !important;
}

.cajaEquipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaEquipo img {
    width: 300px;
}
.tituloEquipos {
    font-family: 'Fira Sans', sans-serif !important;
}

.titulo-valorados {
    font-family: 'Fira Sans', sans-serif !important;
}

.titulo-forms {
    font-family: 'Fira Sans', sans-serif !important;
}

.divFormBusqueda {
    padding: 1em;
    font-weight: bold;
    border-radius: 15px;
    background: #ADE1FF;
}

.logoFav {
    width: 50px !important;
}

.img-vista-detallada {
    width: 100% !important;
}

.card-subtitle {
    font-size: 2em !important;
}

.tabs-equipo{
    display: flex;
    flex-direction: column;
}

.opciones-equipo{
    padding: 10px !important;
    background: #509cfa !important;
    color: #fff;
    text-align: center;
}

.opciones-equipo a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.caracteristicasTab:hover{
    background: #dadada !important;
    color: rgb(79, 120, 241);
}
.TabSelected{
    background: #dadada !important;
    color: rgb(79, 120, 241);
}

.enlacesTab:hover{
    background: #dadada !important;
    color: rgb(79, 120, 241);
}

.tabs {
    display: flex;
}
.enlacesTab {
    flex-grow: 2;
    border-radius: 0px 10px 10px 0px !important;
}
.caracteristicasTab {
    border-radius: 10px 0px 0px 10px !important;
}

.txtCaracteristicas{
    padding: 7px;
}
.txtEnlaces {
    text-align: center;
}

.errorFiltro {
    font-size: 2.5em;
    color: #ff0000;
    text-align: center;
}

.footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}

/* vista equipo */

.cajaOpiniones {
    padding: 6px;
}

.userName {
    font-weight: bold;
    padding: 6px;
}
.userPic {
    display: flex;
    align-items: center;
}

.userPic img {
    width: 35px;
    margin: 6px;
}

.txtOpinion{
    font-style: italic;
}

/*LOGIN CSS*/
.cajaLogin{
    background: rgb(250, 250, 250);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.imgLogin {
    display: flex;
    justify-content: center;
}
.imgLogin img {
    width: 30%;
}

.form input {
    padding: 8px;
    margin: 8px;
    border: none;
    border-bottom: 1px solid #509cfa;
    outline: none;
}
.form input:focus {
    border-bottom: 2px solid #509cfa;
}
.botones {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.botones button {
    padding: 8px;
    border: none;
    border-radius: 8px;
}

.contenedor-login {
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensajeError {
    font-weight: bold;
    font-size: 15px;
    color: red;
}

/*PANEL ADMIN*/

.userLogueado img {
    padding-right: 5px;
    width: 25px;
}

/*vista equipo con usuario logueado*/

#divFavorito img {
    width: 30px;
}

.imgEquipo {
    width: 100px;
}

.imgBtn {
    width: 30px;
}

#tabla {
    border: 1px solid #509cfa;
}
#tabla tr td {
    border: 2px solid #509cfa;
}
#tabla th {
    background: #6dacf8;
    color: #fff;
    text-align: center;
}
#tabla td {
    background: #9fcaff;
    color: #fff;
}

.tituloRegistro {
    text-align: center;
}