@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

.img-home {
    width: 50px !important;
}

.mas-valorados img {
    width: 190px !important;
}

.cajaEquipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaEquipo img {
    width: 300px;
}
.tituloEquipos {
    font-family: 'Fira Sans', sans-serif !important;
}

.titulo-valorados {
    font-family: 'Fira Sans', sans-serif !important;
}

.titulo-forms {
    font-family: 'Fira Sans', sans-serif !important;
}

.divFormBusqueda {
    padding: 1em;
    font-weight: bold;
    border-radius: 15px;
    background: #ADE1FF;
}

.logoFav {
    width: 50px !important;
}